<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaan.supercash.dao.mapper.GoodsMapper">
    <select id="selectByQrcode" resultType="com.huaan.supercash.entity.Goods">
        select id, name, qrcode, category from t_goods where qrcode = #{qrcode}
    </select>

    <select id="goodsByPage" resultType="com.huaan.supercash.entity.Goods">
        select id, name, qrcode, category from t_goods limit #{offset}, #{rows}
    </select>


</mapper>